docker run --rm -it \
    --name="letsencrypt.sh" \
    -e MEMSET_KEY='<MEMSET_KEY>' \
    -v letsencrypt.sh/accounts:/letsencrypt.sh/accounts \
    -v letsencrypt.sh/certs:/letsencrypt.sh/certs \
    -v letsencrypt.sh/domains.txt:/letsencrypt.sh/domains.txt:ro \
    tnwhitwell/letsencrypt.sh-memset
